<html>
  <head>
    <title>Band_Master</title>
    <link rel=rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>